<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyBlog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>tzc.blog.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeController</display-name>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>tzc.blog.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/admin/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryController</display-name>
    <servlet-name>AdminCategoryController</servlet-name>
    <servlet-class>tzc.blog.controller.AdminCategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryController</servlet-name>
    <url-pattern>/admin/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryEditController</display-name>
    <servlet-name>AdminCategoryEditController</servlet-name>
    <servlet-class>tzc.blog.controller.AdminCategoryEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryEditController</servlet-name>
    <url-pattern>/admin/CategoryEdit</url-pattern>
  </servlet-mapping>
</web-app>